@import "@/styles/config/mixins";

.room {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	padding: var(--head-height) 15% 24px 15%;
}
