@import "@/styles/config/mixins";

.home-head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	padding: 8px 0;

	&-actions {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 24px;

		@include theme(dark) {
			filter: invert(1);
		}
	}
}
