:root,
:root::before,
:root::after {
	--transition-time: 0.3s;
	--head-height: 70px;

	--font-poppins: Poppins, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-montserrat: "Montserrat", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		sans-serif;

	--material-blue: #4285f4;
	--material-red: #ea4335;
	--material-yellow: #fbbc05;
	--material-green: #34a853;

	--mac-red: #f35a56;
	--mac-yellow: #febc33;
	--mac-green: #5ec341;
	--mac-bgcolor: #3e3e3e;
	--mac-tcolor: #4fc2ee;

	--theme-white: #ffffff;
	--theme-black: #0d0d0d;
	--theme-blue: #0511f2;
	--theme-light-blue: #52b1f7;
	--theme-grey: #6a84a6;
	--theme-light-grey: #c4c4c4;
	--theme-dark-grey: #617c8c;
	--theme-green: #6fbfa2;
	--theme-neon: #64ffda;

	--theme-bg: #f9f9f9;
	--theme-fg: #0c1015;

	--theme-back-shadow: rgba(0, 0, 0, 0.05);
	--accent-color: var(--theme-fg);
}
