:root,
:root::before,
:root::after {
	--transition-time: 0.3s;
	--head-height: 80px;

	--font-poppins: Poppins, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-montserrat: "Montserrat", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		sans-serif;

	--theme-white: #ffffff;
	--theme-black: #0d0d0d;
	--theme-blue: #0511f2;
	--theme-light-blue: #52b1f7;
	--theme-grey: #6a84a6;
	--theme-dark-grey: #617c8c;
	--theme-green: #6fbfa2;
	--theme-light-grey: #c4c4c4;
	--theme-fg: #0c1015;
	--theme-neon: #64ffda;
	--accent-color: var(--theme-bg);
}
